<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>About PIADA!</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../static/css/swiper.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="contact-page">
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="/aboutus">PIADA</a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/predict">Predict</a></li>
                                <li><a href="https://public.tableau.com/profile/oluwatomisin.ayankoya#!/vizhome/NBASTATISTICS/Dashboard1?publish=yes">Vizualization</a></li>
                                <li><a href="/aboutus">About us</a></li>
                                <!-- <li><a href="#">EXTRA</a></li> -->
                                <li><a href="/goodbye.html"><i class="fas fa-search"></i></a></li>
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="entry-header">
                        <h2 class="entry-title">About Us</h2>
                    </div><!-- entry-header -->
                </div><!-- col-12 -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->

    <div class="container">
        <div class="main-content">
            <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <img src="../static/images/linked.jpg" alt="Profiles" style="width:300px;height:200px">
                  </div>
                  <div class="flip-box-back">
                    <h2>Profiles</h2>
                    <li><a href="https://www.linkedin.com/in/adelia-manuel-550575173">Adelia Manuel</a></li>
                    <li><a href="https://www.linkedin.com/in/iretemi-adelaja">Iretemi Aelaja</a></li>
                    <li><a href="https://www.linkedin.com/in/patrick-cardozo-124261110/">Partrick Cardozo</a></li>
                    <li><a href="https://www.linkedin.com/in/antonia-njoku-1b620a169">Antonia Njoku</a></li>
                    <li><a href="https://www.linkedin.com/in/adelia-manuel">David Ayankoya</a></li>
                  </div>
                </div>
              </div>
              
                      <div class="get-in-touch">
                        <div class="entry-header">
                            <div class="entry-title">
                                <h2>Who are we?</h2>
                            </div><!-- entry-title -->
                        </div><!-- entry-header -->
        
                        <div class="entry-content">
                            <p> 
                                PIADA is a group of diverese member whose goal is to rebrand the sport industry.  Machine learning has increased exponentially with sport using statistics. 
                                Our goal is to  predict the future game using the previous games. 
                                Using logistic regression model and LSTM model to predict a team would win or losses the next match.
                            </p>
                        </div><!-- entry-content -->
                        <div class="container">
                                <!-- <div class="main-content"> -->
                                    <div class="flip-box">
                                        <div class="flip-box-inner">
                                          <div class="flip-box-front">
                                            <img src="../static/images/github2.jpg" alt="Profiles" style="width:300px;height:200px">
                                          </div>
                                                <div class="flip-box-back">
                                                        <h2>Profiles</h2>
                                                        <li><a href="https://github.com/cindzzi">Adelia Manuel</a></li>
                                                        <li><a href="https://github.com/Iretemi">Iretemi Aelaja</a></li>
                                                        <li><a href="https://github.com/cardozop5/">Partrick Cardozo</a></li>
                                                        <li><a href="https://github.com/njokuann">Antonia Njoku</a></li>
                                                        <li><a href="https://github.com/koyatomi">David Ayankoya</a></li>
                                                 </div>
                                              
                                            </div>
                                          
                                        </div>
                                      </div>
                    </div><!-- newsletter-subscribe -->
    <script type='text/javascript' src='../static/js/jquery.js'></script>
    <script type='text/javascript' src='../static/js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='../static/js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='../static/js/swiper.min.js'></script>
    <script type='text/javascript' src='../static/js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='../static/js/circle-progress.min.js'></script>
    <script type='text/javascript' src='../static/js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='../static/js/custom.js'></script>
</body>
</html>