<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello Visitors!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="../static/css/swiper.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <script src="node_modules/confetti-js/dist/index.min.js"></script> -->


    <!-- Styles -->
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header class="site-header">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-10 col-lg-4">
                        <h1 class="site-branding flex">
                            <a href="/aboutus">P I A D A </a>
                        </h1>
                    </div>

                    <div class="col-2 col-lg-8">
                        <nav class="site-navigation">
                            <div class="hamburger-menu d-lg-none">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div><!-- .hamburger-menu -->

                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/predict">Predict</a></li>
                                <li><a href="https://public.tableau.com/profile/oluwatomisin.ayankoya#!/vizhome/NBASTATISTICS/Dashboard1?publish=yes">Vizualization</a></li>

                            </li>
                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        East
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="https://public.tableau.com/views/IndianaPacers_15789700902450/Dashboard1?:display_count=y&publish=yes&:origin=viz_share_link">Boston</a>
                                        <a class="dropdown-item" href="www.github.com">Ind</a>
                                        <a class="dropdown-item" href="www.facebook.com">WGC</a>
                                        
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            West
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="www.google.com">Boston</a>
                                            <a class="dropdown-item" href="www.github.com">Ind</a>
                                            <a class="dropdown-item" href="www.facebook.com">WGC</a>
                                            
                                        </div>
                                    </li>                                 -->
                                <li><a href="/aboutus">About us</a></li>
                                <li><a href="goodbye.html"><i class="fas fa-search"></i></a></li>
                                
                            </ul><!-- flex -->
                        </nav><!-- .site-navigation -->
                    </div><!-- .col-12 -->
                </div><!-- .row -->
            </div><!-- container-fluid -->
        </div><!-- header-bar -->
    </header><!-- .site-header -->

    <div class="hero-content">
        <div class="container">
            <div class="row">
                <div class="col-12 offset-lg-2 col-lg-10">
                    <div class="entry-header">
                        <h2>2017/18 SEASON</h2>

                        
                    </div><!-- .entry-header -->

                        </div><!-- .countdown-holder -->
                    </div><!-- .countdown -->
                </div><!-- .col-12 -->
            </div><!-- row -->

            <div class="row">
                <div class="col-12 ">
                    <div class="entry-footer">
                        <!-- <a href="#" class="btn">NBA</a>
                        <a href="#" class="btn current">Tickets</a> -->
                    </div>
                </div>
            </div>
        </div><!-- .container -->
    </div><!-- .hero-content -->

    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="lineup-artists-headline">
                        <div class="entry-title">
                            <h2>The Impact Of NBA Stats On Wins And Losses</h2>
                        </div><!-- entry-title -->
                                <div class="lineup-artists-description">
                                    <div class="lineup-artists-description-container">
                                        <div class="entry-title">
                                            <!-- Prediction -->
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p>We are going to predict the nba games’ results 
                                                using logistic regression model and LSTM model to predict a team would win or losses the next match.
                                                <br>
                                                <h3>Why NBA Basketball?</h3>
                                                Of all the machine learning project in the world we focused on the nba basketball. We picked this sport because of two reasons:<br> Firstly, there is a ton of data freely available. 
                                                <br>
                                                Secondly, there are usually over a dozen games per day <b>(which means plenty to bet on= money)</b>. Also we want to be able to go out to casino’s without losing money and Basketball is the game!
                                                <br> Data Collection: nba.com 
                                                <br>
                                            </p>
                                        </div><!-- entry-title -->

                                        <div class="entry-content">
                                            <p></p>
                                        </div><!-- entry-content -->
                                    </div><!-- lineup-artists-description-container -->
                                </div><!-- lineup-artists-description -->
                        </div><!-- lineup-artists -->
                    </div><!-- lineup-artists-headline -->
                </div><!-- col-12 -->
            </div><!-- row -->
            <div class="next-event-slider-wrap">
                    <div class="swiper-container next-event-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="next-event-content">
                                    <figure class="featured-image">
                                        <img src="../static/images/1.jpg" alt="">
    
                                        <a href="https://www.nba.com/teams/hawks" class="entry-content flex flex-column justify-content-center align-items-center">
                                            <h3>Teams</h3>
                                            <p>Atlanta Hawks</p>
                                        </a>
                                    </figure><!-- featured-image -->
                                </div><!-- next-event-content -->
                            </div><!-- swiper-slide" -->
    
                            <div class="swiper-slide">
                                <div class="next-event-content">
                                    <figure class="featured-image">
                                        <img src="../static/images/cha.png" alt="">
    
                                        <a href="https://www.nba.com/teams/hornets" class="entry-content flex flex-column justify-content-center align-items-center">
                                            <h3>Teams</h3>
                                            <p>Charlotte Hornets</p>
                                        </a>
                                    </figure><!-- featured-image -->
                                </div><!-- next-event-content -->
                            </div><!-- swiper-slide" -->
    
                            <div class="swiper-slide">
                                <div class="next-event-content">
                                    <figure class="featured-image">
                                        <img src="../static/images/houston.png" alt="">
    
                                        <a href="https://www.nba.com/teams/rockets" class="entry-content flex flex-column justify-content-center align-items-center">
                                            <h3>Teams</h3>
                                            <p>Houston Rockets</p>
                                        </a>
                                    </figure><!-- featured-image -->
                                </div><!-- next-event-content -->
                            </div><!-- swiper-slide" -->
    
                            <div class="swiper-slide">
                                <div class="next-event-content">
                                    <figure class="featured-image">
                                        <img src="../static/images/2.jpg" alt="">
    
                                        <a href="https://www.nba.com/teams/warriors" class="entry-content flex flex-column justify-content-center align-items-center">
                                            <h3>Teams</h3>
                                            <p>Golden State Warriors</p>
                                        </a>
                                    </figure><!-- featured-image -->
                                </div><!-- next-event-content -->
                            </div><!-- swiper-slide" -->
    
                            <div class="swiper-slide">
                                <div class="next-event-content">
                                    <figure class="featured-image">
                                        <img src="../static/images/bkn.png" alt="">
    
                                        <a href="https://www.nba.com/teams/nets" class="entry-content flex flex-column justify-content-center align-items-center">
                                            <h3>Teams</h3>
                                            <p>Brooklyn Nets</p>
                                        </a>
                                    </figure><!-- featured-image -->
                                </div><!-- next-event-content -->
                            </div><!-- swiper-slide" -->
    
                            <div class="swiper-slide">
                                <div class="next-event-content">
                                    <figure class="featured-image">
                                        <img src="../static/images/bos.png" alt="">
    
                                        <a href="https://www.nba.com/teams/celtics" class="entry-content flex flex-column justify-content-center align-items-center">
                                            <h3>Teams</h3>
                                            <p>Boston Celtics</p>
                                        </a>
                                    </figure><!-- featured-image -->
                                </div><!-- next-event-content -->
                            </div><!-- swiper-slide" -->
                        </div><!-- .swiper-wrapper -->
                    </div><!-- .swiper-container -->
                    <div class="swiper-button-next">
                        <img src="../static/images/button.png" alt="">
                    </div><!-- .slider-button -->
                </div><!-- .next-event-slider-wrap -->
            </div><!-- homepage-next-events -->
    
    <script type='text/javascript' src='../static/js/jquery.js'></script>
    <script type='text/javascript' src='../static/js/masonry.pkgd.min.js'></script>
    <script type='text/javascript' src='../static/js/jquery.collapsible.min.js'></script>
    <script type='text/javascript' src='../static/js/swiper.min.js'></script>
    <script type='text/javascript' src='../static/js/jquery.countdown.min.js'></script>
    <script type='text/javascript' src='../static/js/circle-progress.min.js'></script>
    <script type='text/javascript' src='../static/js/jquery.countTo.min.js'></script>
    <script type='text/javascript' src='../static/js/custom.js'></script>
</body>
</html>
