<!doctype html>
<html>
<style>
form {
    margin: auto;
    width: 35%;
}
.result {
    margin: auto;
    width: 35%;
    border: 1px solid #ccc;
}
</style>
<head>
    <title>NBA Prediction Model</title>
</head>
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Team:
        <input name="Team" type="number" required>
        <br>
        <br> Home:
        <input name="Home_or_Away" type="number" required>
        <br>
        <br> Opponent:
        <input name="Opponent" type="number" required>
        <br> 
        <br>Field_Goals_Percentage:
        <input name="FieldGoals." type="number" required>
        <br>
        <br>Three_Points_Shots_Percentage:
        <input name="X3PointShots." type="number" required>
        <br>
        <br>Opponent_Field_Goals_Percentage:
        <input name="Opp.FieldGoals." type="number" required>
        <br>
        <br>Opponent_Three_Point_Shots_Percentage:
        <input name="Opp.3PointShots." type="number" required>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
        {% for variable, value in original_input.items() %}
            <b>{{ variable }}</b> : {{ value }}
        {% endfor %}
        <br>
        <br> Predicted Result:
           <p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
</html>